@charset "ISO-8859-1";
h1{
	text-align: center;
	color:blue;
	font-family: "Times New Roman", Times, serif;
}
a
{
	text-decoration: none;
}
.btn
{
	margin: 0 auto;
	left:50%;
}
.btn1
{
	 border-radius: 25px;
}
body
{
	background-color:#AAAAAA;
}
tr
{
	text-align:center;
}